<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :min_players %>
    <%= form.number_field :min_players %>
  </div>

  <div class="field">
    <%= form.label :max_players %>
    <%= form.number_field :max_players %>
  </div>

  <div class="field">
    <%= form.label :min_duration %>
    <%= form.number_field :min_duration %>
  </div>

  <div class="field">
    <%= form.label :max_duration %>
    <%= form.number_field :max_duration %>
  </div>

  <div class="field">
    <%= form.label :min_age %>
    <%= form.number_field :min_age %>
  </div>

  <div class="field">
    <%= form.label :designer_id %>
    <%= form.select :designer_id, Designer.all.map { |designer| [designer.name, designer.id] }, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
