<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Players</th>
      <th>Duration</th>
      <th>Ages</th>
      <th>Designer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.description %></td>
        <td>
          <% if game.min_players == game.max_players %>
            <%= game.min_players %>
          <% else %>
            <%= game.min_players %> - <%= game.max_players %>
          <% end %>
        </td>
        <td>
          <% if game.min_duration == game.max_duration %>
            <%= game.min_duration %>
          <% else %>
            <%= game.min_duration %> - <%= game.max_duration %>
          <% end %>
        </td>
        <td><%= game.min_age %>+</td>
        <td><%= link_to game.designer.name, game.designer if game.designer %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
